
.hero-section{
    width: 100%;
    height: 97vh;
    background-color:#e8e6f4;
    position: relative;

}

.hero-content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

@media(max-width: 800px){
    .hero-content{
        justify-content: center;
    }
}

.hero-content__text{
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 40rem;
    margin-top: 5rem;
}

@media(max-width: 800px){
    .hero-content__text {
        text-align: center;
        align-items: center;
    }
}


.hero-content__text h4{
    font-size: 1.2rem;
    font-family: Poppins,sans-serif;
    color: black;
    
}

@media(max-width: 800px){
    .hero-content__text h4{
        color: black;
    }
}

.hero-content__text h1 {
    font-size: large;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero-content__text h1 span{
    color: #483D8B;
}

.hero-content__text p{
    font-size: 1.2rem;
    font-family: poppins,sans-serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(5, 5, 5);
    margin-bottom: 9rem;

}

.hero-content__text__btns {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-family: poppins,sans-serif;
}

@media(max-width: 450px){
    .hero-content__text__btns {
        flex-direction: column;
    }
}

.hero-content__text__btns a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.hero-content__text__btns__book-ride {
    background-color: #483D8B;
    padding: 1.8rem 3rem;
    border-radius: 0.3rem;
    border: 2px solid #483D8B;
    transition: all 0.3s;
}

@media (max-width: 450px){
    .hero-content__text__btns a {
        padding: 1rem 1rem;
    }
}

.hero-content__text__btns__book-ride:hover{
    box-shadow: 0 10px 15px 0 #483D8B;
    background-color: #483D8B;
}

.hero-content__text__btns__learn-more {
    background-color: #483D8B;
    padding: 1.8rem 3rem;
    border-radius: 0.3rem;
    border: 2px solid;
    transition: all 0.3s;
}

.hero-content__text__btns__learn-more:hover{
    background-color: transparent;
    color: #483D8B;
}

.hero-content__car-img {
    z-index: 2;
    position: absolute;
    right: 0;
    width: 70%;
    margin-top: 5rem;
    /* margin-left: 28rem;    */
}

@media (max-width: 800px){
    .hero-content__car-img {
        top: -2rem;
        left: 5rem;
        justify-content: center;
    }
}

.scroll-up{
  position: fixed;
  font-size: 2.5rem;
  color: rgb(202, 34, 34);
  background-color: #483D8B;
  border: 3px solid white;
  width: 2rem;
  height: 2rem;
  bottom: 5rem;
  right: 5rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  cursor: pointer;
}

.show-scroll{
    display: flex;
}

