
.plan-section{ 
    background-color: white;
    padding: 5.3rem 0;
}

.plan-container{
    display: flex;
    flex-direction: column;
}

.plan-container__title{
    margin: 0 auto;
    text-align: center;
    color: #080808;
}

.plan-container__title h3{
    font-size: 2rem;
    font-family: Poppins,sans-serif;
    font-weight: 900;
}

.plan-container__title h2{
    font-size: 1.5rem;
    font-family: Poppins,sans-serif;
    
}

.plan-container__boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;
    padding: 0 3rem;
}

@media (max-width: 1021px) {
    .plan-container__boxes{
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
    }
}

@media(max-width: 800px){
    .plan-container__boxes{
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
}

.plan-container__boxes__box{
    text-align: center;
    padding: 1rem 5rem;
}

@media (max-width: 500px){
    .plan-container__boxes__box{
        padding: 1rem 1rem;
    }
}



.plan-container__boxes__box img{
    width: 14rem;
    height: auto;
}

.plan-container__boxes__box h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.plan-container__boxes__box p{
    font-size: 1rem;
    font-family: Poppins,sans-serif;
    color: rgb(124, 124, 124);
    line-height: 1.40;
}